<section>
  <div class="row">
    <div class="col-md-12">
      <div id="intro" class="standard-title">
        <div class="container">
          <h1 id="landing-jumbo-name"class="standard-title">JIM MORRISON</h1>
          <h2 class="standard-title">WEB DEVELOPER. WRITER.</h2>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="container center">
  <div class="row doing">
    <div class="col-lg-6">
      <h2 class="standard-title landing-sub-title"><b>Latest Content Created</b></h2>
      <div id="recent-post-landing" class="standard-text work">
        <% if @recent_post.present? %>
          <%= image_tag @recent_post.title_image, class: "img_preview" %>
          <h3>
            <a href="<%= @recent_post.url %>">
              <%= @recent_post.title %>
            </a>
          </h3>
          <p>
            <%= @recent_post.content.html_safe %>
          </p>
          <p>
            <%= local_date(@recent_post.post_date) %>
          </p>
        <% else %>
          <h1> No Recent Posts </h1>
        <% end %>
      </div>
    </div>

    <div class="col-lg-6 standard-text">
      <h2 class="standard-title landing-sub-title"><b>Work</b></h2>
			<%= image_tag("job.jpg", class: "img_preview") %>
      <h3>Auth0</h3>
      <h4>Community Engineer</h4>
      <h5>June 2018 - Present</h5>
      <a class="btn btn-primary" role="button" data-toggle="collapse" data-parent="#accordion" href="#careerThree" aria-expanded="false" aria-controls="collapseOne">Details</a>
      <div id="careerThree" class="panel-collapse collapse" role="tabpanel">
        <p>As a Community Engineer at Auth0 I actively work in a three person Community team.</p>
        <p>My responsibilities include but are not limited to:</p>
        <ul>
          <li>Build proof of concept and sample applications.</li>
          <li>Interact with developers around the world to help them integrate Auth0 into their products and solve technical issues they run into, mainly through the forum by answering questions not covered by the community directly.</li>
          <li>Bring innovative, state-of-the-art ideas to optimize our processes, tools, etc. and ultimately, our users’ experience.</li>
          <li>Help community members enriching the quality of the discussions (both questions and answers).Participate directly in the forum, getting insights, discussing with developers, etc.</li>
          <li>Detect valuable patterns for the rest of the company from the Forum questions (i.e. valuable docs to produce, etc.).</li>
          <li>Partner closely with the Community Lead to provide technical advisory to the initiatives around the community.</li>
          <li>Mentor new team members.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
