<div id="blog-wrapper">

  <div id="blog-jumbo" class="jumbotron">
    <br>
    <h1 id="blog-title">  Articles, Videos, and Tutorials  </h1>
  </div>

  <div id="recent-title" class="row">
    <div class="col-md-12">
      <h1> Recent Additions </h1>
    </div>
  </div>

  <div id="latest-content" class="row">
      <% if @recent_posts.present? %>
        <% @recent_posts.reverse_each do |recent_post| %>
          <div class="col-sm-3">
            <a href="<%= recent_post.url %>">
              <div class="thumbnail">
                <%= image_tag recent_post.title_image %>
                <div class="caption">
                  <h3>
                    <a href="<%= recent_post.url %>">
                      <%= recent_post.title %>
                    </a>
                  </h3>
                  <p>
                    <%= recent_post.content.html_safe %>
                  </p>
                  <p>
                    <%= local_date(recent_post.post_date) %>
                  </p>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      <% else %>
        <h1> No Recent Posts </h1>
      <% end %>
    </div>
  </div>

  <div id="all-posts-title" class="row all-posts">
    <div class="col-md-12">
      <a data-toggle="collapse" data-parent="#accordion" href="#all-posts-show" aria-expanded="false" aria-controls="collapseOne"><p>ALL POSTS</p></a>
    </div>
  </div>
  <div id="all-posts-show" class="panel-collapse collapse all-posts" role="tabpanel">
    <div>
      <% if @all_posts.present? %>
        <div id="all-post-content">
          <% @all_posts.in_groups_of(4, false) do |all_post_groups| %>
            <div class="row">
              <% all_post_groups.each do |all_post| %>
                <div class="col-sm-3">
                  <a href="<%= all_post.url %>">
                    <div class="thumbnail">
                      <%= image_tag all_post.title_image %>
                      <div class="caption">
                        <h3>
                          <a href="<%= all_post.url %>">
                            <%= all_post.title %>
                          </a>
                        </h3>
                        <p>
                          <%= all_post.content.html_safe %>
                        </p>
                        <p>
                          <%= local_date(all_post.post_date) %>
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <h1> No Recent Posts </h1>
      <% end %>
      </div>
    </div>
  </div>
</div>
